.choose-tour .section-title {
  padding-top: 135px;
}

.choose-tour {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.choose-tour__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  max-width: 1200px;
  margin: auto;
  margin-top: 38px;
  padding: 15px;
}

.card-tur {
  overflow: hidden;
  width: calc(33.33% - 30px);
  margin: 15px;
  border-radius: 50px;
}

.card-tur__img {
  height: 100%;
  transition: transform 0.3s ease;
}

.card-tur__img_bgi-1 {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.00) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0.23) 100%),
    url('../../dist/images/card_tour_photo_1.png');
}

.card-tur__img_bgi-2 {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.00) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0.23) 100%),
    url('../../dist/images/card_tour_photo_2.png');
}

.card-tur__img_bgi-3 {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.00) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0.23) 100%),
    url('../../dist/images/card_tour_photo_3.png');
}

.card-tur__img_bgi-4 {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.00) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0.23) 100%),
    url('../../dist/images/card_tour_photo_4.png');
}

.card-tur__img_bgi-5 {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.00) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0.23) 100%),
    url('../../dist/images/card_tour_photo_5.png');
}

.card-tur__img_bgi-6 {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.00) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0.23) 100%),
    url('../../dist/images/card_tour_photo_6.png');
}

.card-tur__content {
  position: sticky;
  bottom: 892px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 531px;
  padding: 50px 50px 50px 30px;
  box-sizing: border-box;

  cursor: pointer;
}

.card-tur__title {
  position: relative;
  bottom: 0;
  left: 0;
  margin: 0;
  /* функция, при ширине экрана (1920px равен 23px), (1024px равен 0px) */
  margin-right: calc(0px + (23 - 0) * ((100vw - 1024px) / (1920 - 1024)));
  padding-bottom: 32px;
  padding-left: 20px;

  font-size: 35px;
  font-weight: 500;
  line-height: 122%;

  color: var(--white-color);
}

.card-tur__title::after {
  position: absolute;
  bottom: -9px;
  left: 20px;
  margin: 0;

  font-size: 17px;
  font-weight: 400;
  line-height: 142%;
  letter-spacing: -0.01em;

  color: var(--white-color);

  content: 'от 80 000 руб';
}

.card-tur__link {
  position: relative;
  bottom: 0;
  left: 0;
}

.card-tur__link-item {
  box-sizing: border-box;
  padding: 7px 32px 7px 20px;

  font-size: 23px;
  font-weight: 700;
  line-height: 122%;

  color: var(--white-color);
  border-radius: 50px;

  transition: background-color 0.3s ease;
}

.card-tur__link-item::after {
  position: relative;
  left: 11px;
  content: url('../../dist/images/VectorRight.svg');
}

.card-tur:hover .card-tur__img {
  transform: scale(1.2);
  cursor: pointer;
}

.card-tur:hover .card-tur__link-item {
  background-color: var(--green400-color);
  border-radius: 50px;
}

.card-tur:hover .card-tur__link-item:active {
  color: var(--white-color);
  background-color: var(--orange200-color);
  border-radius: 50px;
}