.chooseTour {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chooseTour__title {
  margin: 0px;
  padding-top: 135px;
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 59px;
  line-height: 124%;

  color: var(--black-color);
}

.chooseTour__tabs {
  text-align: center;
  padding-top: 35px;
}

.chooseTour__tabs-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;

  color: var(--black-color);
  padding-bottom: 4px;
}

/* Выберем все пункты списка, кроме последнего */
.chooseTour__tabs-link:not(:last-child) {
  margin-right: 26.5px;
}

.chooseTour__tabs-link:hover {
  color: var(--black-color);
  text-decoration: none;
  border-bottom: 2px solid var(--black-color)
}

.chooseTour__tabs-link_active {
  color: var(--orange200-color);
  text-decoration: none;
  border-bottom: 2px solid var(--orange200-color);
}


.chooseTour__cardContainer {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 91px;
}

.chooseTour__cardTur {
  width: 370px;
  height: 531px;
  margin: 15px;
  border-radius: 50px;
  overflow: hidden;
}

.chooseTour__cardTur-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.chooseTour__cardTur-img {
  transition: transform 0.3s ease-in-out;
}

.chooseTour__cardTur-title {
  max-width: 240px;
  position: relative;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;

  color: var(--white-color);
  margin: 0;
  left: 0;
  padding-left: 50px;
  bottom: 480px;

}

.chooseTour__cardTur-price {
  position: relative;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.01em;

  color: var(--white-color);
  margin: 0;
  left: 0;
  padding-left: 50px;
  bottom: 464px;
}

.chooseTour__cardTur-link {
  position: relative;
  left: 30px;
  bottom: 187px;
}

.chooseTour__cardTur-link-item {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;

  color: var(--white-color);
  padding: 7px 59px 7px 20px;
}

.chooseTour__cardTur-link-item::after {
  position: relative;
  content: url('../assets/images/Vector.svg');
  left: 11px;
}

.chooseTour__cardTur-link-item_active {
  color: var(--white-color);
  background-color: var(--orange200-color);
  border-radius: 50px;
}

/* делаем такую запись чтобы при наведении курсора на один элемент
применялось сразу два стиля: 
1-й_стиль увеличивал фоновое изображение
2-й_стиль создавал форму кнопки на ссылке */
.chooseTour__cardTur:hover .chooseTour__cardTur-img {
  transform: scale(1.2);
  cursor: pointer;
}

.chooseTour__cardTur:hover .chooseTour__cardTur-link-item {
  background-color: var(--green400-color);
  border-radius: 50px;
}