.collectTour .section-title {
  padding-top: 105px;
}

.collectTour {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.collectTour__cardContainer {
  max-width: 1200px;
  margin: auto;
  margin-top: 99px;
  padding: 0 30px;
}

/* __________formFill */
.formFill {
  box-sizing: border-box;
  max-width: 1170px;
  margin: auto;
  padding: 70px;
  border-radius: 50px;
  background-color: var(--white-color);
}

/* Примечание
Эта запись задает стиль для всех непосредственных потомков элементов, 
которые являются дочерними элементами элементов с классом "formFill" */
.formFill>* {
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
}

/* _____formFill__inputFields */
.formFill__inputFields {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.formFill__inputFields,
.formFill__commentField,
.formFill__age,
.formFill__agreement,
.formFill__buttons {
  width: 100%;
}

.formFill__inputFields-name,
.formFill__inputFields-dropdown,
.formFill__inputFields-email,
.formFill__inputFields-phone,
.formFill__inputFields-dateFrom,
.formFill__inputFields-dateTo,
.formFill__commentField,
.formFill__age,
.formFill__agreement {
  margin-bottom: 33px;
}

.formFill__inputFields-name,
.formFill__inputFields-dropdown,
.formFill__inputFields-email,
.formFill__inputFields-phone,
.formFill__inputFields-dateFrom,
.formFill__inputFields-dateTo {
  width: calc(50% - 15px);
}

.formFill__inputFields-name-label,
.formFill__inputFields-dropdown-label,
.formFill__inputFields-email-label,
.formFill__inputFields-phone-label,
.formFill__inputFields-dateFrom-label,
.formFill__inputFields-dateTo-label,
.formFill__commentField-label,
.formFill__age-legend {
  color: var(--black-color);
}

.formFill__inputFields-dropdown-select-item,
.formFill__inputFields-dateFrom-input[type="date"]::-webkit-calendar-picker-indicator,
.formFill__inputFields-dateTo-input[type="date"]::-webkit-calendar-picker-indicator {
  /* уберем стрелку у select */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* уберем значок календаря у (input type="date") */
  display: none;
}

.formFill__inputFields-name-input,
.formFill__inputFields-dropdown-select-item,
.formFill__inputFields-email-input,
.formFill__inputFields-phone-input,
.formFill__inputFields-dateFrom-input,
.formFill__inputFields-dateTo-input,
.formFill__commentField-textarea {
  box-sizing: border-box;
  width: 100%;
  height: 68px;
  margin-top: 8px;
  padding: 20px;
  /* чтобы текст не залезал на стрелку для развертывания списка */
  padding-right: 45px;
  border: 1px solid var(--beige200-color);
  border-radius: 10px;
  /* убираем обводку вокруг нажатого поля */
  outline: none;
  background: var(--beige100-color);
  color: var(--black-color);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.formFill__inputFields-name-input::placeholder,
.formFill__inputFields-dropdown-select-item,
.formFill__inputFields-email-input::placeholder,
.formFill__inputFields-phone-input::placeholder {
  color: var(--gray300-color);
}

.formFill__inputFields-dropdown-select-item_active {
  color: var(--black-color);
}

.formFill__inputFields-name-input:hover,
.formFill__inputFields-dropdown-select-item:hover,
.formFill__inputFields-email-input:hover,
.formFill__inputFields-phone-input:hover,
.formFill__inputFields-dateFrom-input:hover,
.formFill__inputFields-dateTo-input:hover,
.formFill__commentField-textarea:hover {
  background: var(--beige200-color);
  cursor: pointer;
}

.formFill__inputFields-name-input:focus,
.formFill__inputFields-dropdown-select-item:focus,
.formFill__inputFields-email-input:focus,
.formFill__inputFields-phone-input:focus,
.formFill__inputFields-dateFrom-input:focus,
.formFill__inputFields-dateTo-input:focus,
.formFill__commentField-textarea:focus {
  border: 1px solid var(--gray300-color);
}

.formFill__inputFields-dropdown-select {
  /* чтобы стрелка оказалась в границах select */
  position: relative;
}

.formFill__inputFields-dropdown-select::before {
  content: url('../../dist/images/VectorDown.svg');
  position: absolute;
  /* отступ 50% от верхней границе*/
  top: 50%;
  /* отступ справа от границе*/
  right: 23.59px;
  /* подвинем на 50% высоты вектора вверх */
  transform: translateY(-50%);
  /* Свойство pointer-events определяет, 
  как HTML-элемент реагирует на различные события мыши,
  т.е. мы делаем элемент прозрачным для клика и 
  клик происходит как бы за этим элементов */
  pointer-events: none;
}

.formFill__inputFields-dateFrom-input,
.formFill__inputFields-dateTo-input {
  /* преобразуем текст элемента в заглавные символы */
  text-transform: uppercase;
  color: var(--gray300-color);
}

/* _____formFill__commentField */
.formFill__commentField-textarea {
  height: 152px;
  /* Указывает, можно ли пользователю изменять размеры текстового поля */
  resize: none;
}

/* _____formFill__age */
.formFill__age {
  margin-left: 0;
  padding: 0;
  border: 0;
}

.formFill__age-radioGroup {
  height: 28px;
  margin-top: 6px;
  display: flex;
}

.formFill__age-radioGroup-block-input {
  /* Скрываем стандартный radio*/
  /* Это необходимо, чтобы мы могли получить состояние фокуса, 
  а затем стилизовать нами сделанный radio */
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.formFill__age-radioGroup-block:not(:last-child) {
  margin-right: 31px;
}

.formFill__age-radioGroup-block-label {
  max-width: 250px;
}

/* Примечание
.className1+.className2 - это означает, что этот CSS применяется только для тех 
элементов className2, которые следуют непосредственно за элементом className1  */
.formFill__age-radioGroup-block-input+.formFill__age-radioGroup-block-label {
  display: inline-flex;
  align-items: center;
  /* Свойство, которое запрещает возможность выбора текста */
  user-select: none;
}

.formFill__age-radioGroup-block-input+.formFill__age-radioGroup-block-label::before {
  content: '';
  width: 24px;
  height: 24px;
  border: 1px solid var(--black-color);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50% 50%;
  display: inline-block;
  flex-shrink: 0;
  flex-grow: 0;
}

.formFill__age-radioGroup-block-input+.formFill__age-radioGroup-block-label::before {
  margin-right: 11px;
  border-radius: 0.60em;
}

.formFill__age-radioGroup-block-input:checked+.formFill__age-radioGroup-block-label::before {
  border-color: var(--black-color);
  background-color: var(--white-color);
}

.formFill__age-radioGroup-block-input:checked+.formFill__age-radioGroup-block-label::before {
  background-image: url('../../dist/images/VectorRadio.svg');
}


/* _____formFill__agreement */
.formFill__agreement {
  height: 26px;
  display: flex;
}

/* Скрываем чекбокс и оставляем функциональность фокуса */
.formFill__agreement-input[type=checkbox] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.formFill__agreement-input+.formFill__agreement-customCheckbox {
  align-items: center;
  user-select: none;
}

.formFill__agreement-input+.formFill__agreement-customCheckbox::before {
  content: '';
  width: 26px;
  height: 26px;
  border: 1px solid var(--black-color);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50% 50%;
  display: inline-block;
  flex-shrink: 0;
  flex-grow: 0;
}

.formFill__agreement-input:checked+.formFill__agreement-customCheckbox::before {
  border-color: var(--black-color);
  background-color: var(--white-color);
}

.formFill__agreement-text {
  margin: 0;
  font-size: 17px;
  font-weight: 400;
  line-height: 142%;
  letter-spacing: -0.17px;
  color: var(--gray300-color);
}

.formFill__agreement-text-link {
  /* начальное значение */
  border-bottom: 1px solid transparent;
  color: var(--black-color);
  cursor: pointer;
  transition: border-bottom 0.3s ease, color 0.3s ease;
}

.formFill__agreement-text-link:hover {
  /* измененное значение */
  border-bottom: 1px solid var(--black-color);
  color: var(--black-color);
}

.formFill__agreement-text-link:active {
  /* измененное значение */
  border-bottom: 1px solid var(--green400-color);
  color: var(--green400-color);
}

.formFill__agreement-input+.formFill__agreement-customCheckbox::before {
  margin-right: 19px;
  border-radius: 0.25em;
}

.formFill__agreement-input:checked+.formFill__agreement-customCheckbox::before {
  background-image: url('../../dist/images/VectorChecked.svg');
}


/* _____formFill__buttons */
.formFill__buttons-find,
.formFill__buttons-reset {
  width: 235px;
  padding: 18px 30px;
  border: none;
  border-radius: 10px;
  color: var(--white-color);
  font-size: 20px;
  align-items: center;
  /* ease определяет функцию плавности и */
  /* обозначает постепенное ускорение и замедление в течение всего перехода */
  transition: background-color 0.3s ease;
}

.formFill__buttons-find {
  margin-right: 25px;
  background: var(--green400-color);
}

.formFill__buttons-find:hover {
  background: var(--green300-color);
  cursor: pointer;
}

.formFill__buttons-find:active {
  background: var(--green200-color);
}

.formFill__buttons-reset {
  background: var(--green100-color);
  color: var(--green400-color);
}

.formFill__buttons-reset:hover {
  background: var(--gray100-color);
  cursor: pointer;
}

.formFill__buttons-reset:active {
  background: var(--gray200-color);
}