a {
  /* убираем подчеркивание */
  text-decoration: none;
}

:root {
  --black-color: #1B1F2B;
  --orange200-color: #EFA501;
  --green400-color: #286562;
  --gray300-color: #A6A6A6;
  --beige200-color: #F4F0E9;

  --white-color: #FFFFFF;
  --orange100-color: #F8E6BE;
  --green300-color: #3B7E7B;
  --gray200-color: #D9DFDB;
  --beige100-color: #F9F7F4;

  --green200-color: #627F7E;
  --gray100-color: #F1F3F2;
  --green100-color: #E0F0E5;
}

/* внешняя обертка */
.wrapper {
  font-family: 'Roboto', 'Times New Roman', Times, serif;
  font-style: normal;
}

/* размер viewport */
.vt-w1 {
  width: 100%;
}

/* фоновый цвет */
.bgc-1 {
  background: var(--beige100-color);
}

/* стили для изображений */
.bgi-1 {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50px;
}

/* ширина и высота картинки */
.w1-h1 {
  width: 23%;
  height: 301px;
}

.w2-h2 {
  width: 23%;
  height: 301px;
}