.footers {
  display: flex;
  flex-direction: column;
}

.footers-card {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 771px;
  margin: auto;
  padding: 135px 30px 135px 30px;
}

.footers-card__img {
  width: 370px;
  height: 370px;

  background-image: url('../../dist/images/footersPhoto.png');
  border-radius: 50px;
}

.footers-card__content {
  margin-left: 30px;
}

.footers-card__title {
  max-width: 371px;
  margin: 0;
  margin-bottom: 20px;

  font-size: 35px;
  font-weight: 500;
  line-height: 122%;

  color: var(--black-color);
}

.footers-card__text {
  max-width: 371px;
  margin: 0;

  font-size: 20px;
  font-weight: 400;
  line-height: 142%;

  color: var(--gray300-color);
}

.footers-card__email {
  color: var(--black-color);
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.footers-card__email:hover {
  color: var(--black-color);
  border-bottom: 1px solid var(--black-color);
}

.footers-card__email:active {
  color: var(--green400-color);
  border-bottom: 1px solid var(--green400-color);
}

.footers-social-network {
  padding-top: 30px;
  padding-bottom: 30px;
  background: var(--beige200-color);
}

.footers-social-network__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1168px;
  margin: auto;
  padding-right: 53px;
  padding-left: 53px;
}

.footers-social-network__title {
  max-width: 222px;
  color: var(--gray300-color);
}

.footers-social-network__title,
.footers-social-network__link {
  font-size: 20px;
  font-weight: 400;
  line-height: 142%;
}

.footers-social-network__name {
  display: flex;

  max-width: 500px;
  padding-left: 10px;
  text-align: center;
}

.footers-social-network__inner-wrap:not(:last-child) {
  margin-right: 26px;
}

.footers-social-network__link {
  color: var(--black-color);
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s ease;
}

.footers-social-network__link:hover {
  border-bottom: 1px solid var(--black-color);
  cursor: pointer;
}

.footers-social-network__icon {
  margin-right: 6px;
  vertical-align: sub;
}