/* ___________Main_________________________________________________ */
/* __section__greeting(приветствие)__*/
.greeting {
  background-image: url('../../dist/images/greetingBackgroundImg1920.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.greeting__title {
  max-width: 768px;
  padding-top: 207.9px;
  margin: auto;
  text-align: center;

  font-weight: 700;
  font-size: 96px;
  line-height: 109%;

  letter-spacing: 0.02em;
  color: var(--white-color);
}

.greeting__slogan {
  width: 562px;
  margin: auto;
  padding-top: 50px;

  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  text-align: center;
  color: var(--white-color);
}

.greeting__buttons {
  margin: auto;
  padding-top: 50px;
  padding-bottom: 119px;
  text-align: center;
}

.greeting__buttons-small {
  width: 118px;
  padding: 5px 20px;

  background: var(--white-color);
  border: none;
  border-radius: 10px;

  cursor: pointer;

  font-weight: 400;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.01em;
  color: var(--black-color);
  /* ease определяет функцию плавности и */
  /* обозначает постепенное ускорение и замедление в течение всего перехода */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.greeting__buttons-small:hover {
  background: var(--orange200-color);
  color: var(--white-color);
  cursor: pointer;
}

.greeting__buttons-small:active {
  background: var(--orange100-color);
  color: var(--black-color);
  cursor: pointer;
}