/* ___________Header_____________________________________________________ */
.heading {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 999;

  display: block;
  width: 100%;

  transform: translateX(-50%);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 1168px;
  margin: auto;
  padding-top: 27px;
  padding-bottom: 29px;
}

.navbar__logo {
  margin-right: auto;
  padding-right: 10px;
}

.navbar__telephoneNumber {
  margin-left: auto;
  padding-left: 10px;
}

.navbar__logo-YourTour,
.navbar__telephoneNumber-item {
  fill: var(--white-color);
}

.navbar__menu {
  display: flex;
  justify-content: space-between;

  width: 468px;
  margin: 0;
  padding-bottom: 4px;
  padding-left: 0;

  list-style-type: none;
}

/* Выберем все пункты списка, кроме последнего */
.navbar__menu-item:not(:last-child) {
  padding-right: 10px;
}

.navbar__menu-link {
  font-size: 20px;
  white-space: nowrap;

  color: var(--white-color);
  border-bottom: 1px solid transparent;

  transition: border-bottom 0.3s ease;
}

.navbar__menu-link:hover {
  border-bottom: 1px solid var(--white-color)
}

.scrolled-bgn {
  background-color: rgba(243, 239, 232, 0.6);
  backdrop-filter: blur(27px);
}

.scrolled-color {
  color: var(--black-color);
  fill: var(--black-color);
}

.scrolled-hover:hover {
  border-bottom: 1px solid var(--black-color)
}