/* ___________Header_____________________________________________________ */
.heading {
  /* Классу "heading" задано свойство "position: fixed", 
которое фиксирует его относительно экрана и позволят ему оставаться на месте 
независимо от скроллинга страницы. Также ему задано свойство "left: 50%", 
которое заставляет его начинаться по центру родительского блока, 
а свойство "transform: translateX(-50%)" сдвигает его влево на 50% от его 
собственной ширины. Это позволяет шапке находиться по центру родительского 
блока независимо от его ширины. */
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;

  display: block;
  width: 100%;
}

.navbar {
  width: 1168px;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 27px;
  padding-bottom: 29px;
}

.navbar__logo {
  padding-right: 10px;
  /* прижмем элемент к левому краю */
  margin-right: auto;
}

.navbar__telephoneNumber {
  padding-left: 10px;
  /* прижмем элемент к правому краю */
  margin-left: auto;
}

.navbar__logo-YourTour,
.navbar__telephoneNumber-item {
  fill: var(--white-color);
}

.navbar__menu {
  width: 468px;

  display: flex;
  justify-content: space-between;
  padding-left: 0;
  padding-bottom: 4px;

  /* Убираем маркеры */
  list-style-type: none;
  margin: 0;
}

/* Выберем все пункты списка, кроме последнего */
.navbar__menu-item:not(:last-child) {
  padding-right: 10px;
}

.navbar__menu-link {
  font-size: 20px;
  color: var(--white-color);
  /* начальное значение */
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s ease;

  /* запрещаем перенос текста на другую строку */
  white-space: nowrap;
}

.navbar__menu-link:hover {
  /* измененное значение */
  border-bottom: 1px solid var(--white-color)
}

.scrolled-bgn {
  background-color: rgba(243, 239, 232, 0.6);
  backdrop-filter: blur(27px);
}

.scrolled-color {
  color: var(--black-color);
  fill: var(--black-color);
}

.scrolled-hover:hover {
  border-bottom: 1px solid var(--black-color)
}