/* ___________@media-директива_____________________________________ */
/*от1025px-до1920px___________________________________________________*/
@media (max-width: 1920px) {

  /*  */
  /* __heading(раздел-заголовок)__ */
  .navbar {
    /* функция, при ширине экрана (1920px равен 1168px), (1025px равен 910px) */
    width: calc(910px + (1168 - 910) * ((100vw - 1025px) / (1920 - 1025)));
  }

  .navbar__menu {
    /* функция, при ширине экрана (1920px равен 468px), (1025px равен 408px) */
    width: calc(408px + (468 - 408) * ((100vw - 1025px) / (1920 - 1025)));
  }

  /*  */
  /* __greeting(раздел-приветствие)__ */
  .greeting {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.00) 100%),
      linear-gradient(0deg, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0.23) 100%),
      url('../../dist/images/greetingBackgroundImg1024.png');
  }

  /*  */
  /* __travelPhotos(раздел-фотографии путешествий) */
  .travelPhotos__cardContainer-block1-img,
  .travelPhotos__cardContainer-block3-img {
    /* функция, при ширине экрана (1920px равен 442.5px), (1025px равен 314.666px) */
    width: calc(314.666px + (442.5 - 314.666) * ((100vw - 1025px) / (1920 - 1025)));
  }

  .travelPhotos__cardContainer-block2-img {
    /* функция, при ширине экрана (1920px равен 347.32px), (1025px равен 231px) */
    width: calc(231px + (347.32 - 231) * ((100vw - 1025px) / (1920 - 1025)));
  }

}


/*от550px-до1024px___________________________________________________*/
@media (max-width: 1024px) {

  /* общие стили */
  .secondaryTitle__title {
    /* функция, при ширине экрана (1024px равен 0px), (360px равен 0.68px) */
    letter-spacing: calc(0.68px + (0 - 0.68) * ((100vw - 360px) / (1024 - 360)));
    /* функция, при ширине экрана (1024px равен 59px), (360px равен 34px) */
    font-size: calc(34px + (59 - 34) * ((100vw - 360px) / (1024 - 360)));
  }

  .secondaryTitle__subtitle {
    /* функция, при ширине экрана (1024px равен 20px), (360px равен 16px) */
    font-size: var(--dynamic-font-size_1);
  }

  /*  */
  /* __heading(раздел-заголовок)__ */
  .navbar {
    /* функция, при ширине экрана (1024px равен 910px), (550px равен 488px) */
    width: calc(488px + (910 - 488) * ((100vw - 550px) / (1024 - 550)));
  }

  .navbar__menu-link {
    /* функция, при ширине экрана (1024px равен 20px), (550px равен 14px) */
    font-size: calc(14px + (20 - 14) * ((100vw - 550px) / (1024 - 550)));
  }

  .navbar__logo-YourTour {
    /* функция, при ширине экрана (1024px равен 181.828px), (550px равен 140px) */
    width: calc(140px + (181.828 - 140) * ((100vw - 550px) / (1024 - 550)));
  }

  .navbar__telephoneNumber-item {
    /* функция, при ширине экрана (1024px равен 155px), (550px равен 130px) */
    width: calc(130px + (155 - 130) * ((100vw - 550px) / (1024 - 550)));
  }

  /*  */
  /* __greeting(раздел-приветствие)__ */
  .greeting__title {
    /* функция, при ширине экрана (1024px равен 207px), (360px равен 140px) */
    padding-top: calc(140px + (207 - 140) * ((100vw - 360px) / (1024 - 360)));
    /* функция, при ширине экрана (1024px равен 768px), (360px равен 360px) */
    max-width: calc(360px + (768 - 360) * ((100vw - 360px) / (1024 - 360)));
    /* функция, при ширине экрана (1024px равен 96px), (360px равен 34px) */
    font-size: calc(34px + (96 - 34) * ((100vw - 360px) / (1024 - 360)));
    /* функция, при ширине экрана (1024px равен 1.92px), (360px равен 0.68px) */
    /* line-height: 112%; */
    letter-spacing: calc(0.68px + (1.92 - 0.68) * ((100vw - 360px) / (1024 - 360)));
  }

  .greeting__slogan {
    /* функция, при ширине экрана (1024px равен 50px), (360px равен 40px) */
    padding-top: calc(40px + (50 - 40) * ((100vw - 360px) / (1024 - 360)));
    /* функция, при ширине экрана (1024px равен 442px), (360px равен 310px) */
    max-width: calc(310px + (442 - 310) * ((100vw - 360px) / (1024 - 360)));
    /* функция, при ширине экрана (1024px равен 20px), (360px равен 16px) */
    font-size: var(--dynamic-font-size_1);
  }

  .greeting__buttons {
    /* функция, при ширине экрана (1024px равен 51px), (360px равен 40px) */
    padding-top: calc(40px + (51 - 40) * ((100vw - 360px) / (1024 - 360)));
    /* функция, при ширине экрана (1024px равен 118px), (360px равен 52px) */
    padding-bottom: calc(52px + (118 - 52) * ((100vw - 360px) / (1024 - 360)));
  }

  /*  */
  /* __chooseTour(раздел-выбрать тур)__ */
  .chooseTour .secondaryTitle__title {
    /* функция, при ширине экрана (1024px равен 135px), (360px равен 76px) */
    padding-top: calc(76px + (135 - 76) * ((100vw - 360px) / (1024 - 360)));
  }

  .chooseTour .secondaryTitle__tabs {
    /* функция, при ширине экрана (1024px равен 20px), (360px равен 27px) */
    padding-top: calc(27px + (20 - 27) * ((100vw - 360px) / (1024 - 360)));
  }

  .chooseTour .secondaryTitle__tabs-link {
    /* функция, при ширине экрана (1024px равен 4px), (360px равен 0px) */
    padding-bottom: calc(0px + (4 - 0) * ((100vw - 360px) / (1024 - 360)));
    /* функция, при ширине экрана (1024px равен 15px), (360px равен 5px) */
    margin: calc(5px + (15 - 5) * ((100vw - 360px) / (1024 - 360)));
    /* функция, при ширине экрана (1024px равен 23px), (360px равен 16px) */
    font-size: var(--dynamic-font-size_2);
  }

  .chooseTour__cardContainer {
    max-width: 936px;
    /* функция, при ширине экрана (1024px равен 52px), (360px равен 12px) */
    margin-top: calc(12px + (52 - 12) * ((100vw - 360px) / (1024 - 360)));
    padding: 9px;
  }

  .chooseTour__cardTur {
    width: calc(50% - 18px);
    margin: 9px;
    /* функция, при ширине экрана (1024px равен 50px), (360px равен 20px) */
    border-radius: var(--dynamic-border-sizes_1);
  }

  .chooseTour__cardTur-content {
    /* функция, при ширине экрана (1024px равен 30px), (550px равен 0px) */
    padding-left: calc(0px + (30 - 0) * ((100vw - 550px) / (1024 - 550)));
    padding-right: calc(0px + (30 - 0) * ((100vw - 550px) / (1024 - 550)));
  }

  .chooseTour__cardTur-content-title {
    /* функция, при ширине экрана (1024px равен 35px), (360px равен 23px) */
    font-size: var(--dynamic-font-size_3);
  }

  /*  */
  /* __collectTour(раздел-собрать тур) */
  .collectTour .secondaryTitle__title {
    /* функция, при ширине экрана (1024px равен 117px), (360px равен 58px) */
    padding-top: calc(58px + (117 - 58) * ((100vw - 360px) / (1024 - 360)));
  }

  .collectTour .secondaryTitle__subtitle {
    /* функция, при ширине экрана (1024px равен 30px), (360px равен 20px) */
    padding-top: var(--dynamic-top-internal-indentation_1);
    /* функция, при ширине экрана (1024px равен 409px), (360px равен 318px) */
    max-width: calc(318px + (409 - 318) * ((100vw - 360px) / (1024 - 360)));
  }

  .collectTour__cardContainer {
    max-width: 918px;
    /* функция, при ширине экрана (1024px равен 99px), (360px равен 39px) */
    margin-top: calc(39px + (99 - 39) * ((100vw - 360px) / (1024 - 360)));
    /* функция, при ширине экрана (1024px равен 30px), (360px равен 21px) */
    padding-right: var(--dynamic-right-internal-indentation_2);
    padding-left: var(--dynamic-left-internal-indentation_3);

  }

  .formFill {
    /* функция, при ширине экрана (1024px равен 50px), (360px равен 30px) */
    border-radius: calc(30px + (50 - 30) * ((100vw - 360px) / (1024 - 360)));
    /* функция, при ширине экрана (1024px равен 60px), (360px равен 22px) */
    padding-top: calc(22px + (60 - 22) * ((100vw - 360px) / (1024 - 360)));
    /* функция, при ширине экрана (1024px равен 60px), (360px равен 20px) */
    padding-right: calc(20px + (60 - 20) * ((100vw - 360px) / (1024 - 360)));
    padding-left: calc(20px + (60 - 20) * ((100vw - 360px) / (1024 - 360)));
    /* функция, при ширине экрана (1024px равен 60px), (360px равен 40px) */
    padding-bottom: calc(40px + (60 - 40) * ((100vw - 360px) / (1024 - 360)));
  }

  /* _____formFill__inputFields */
  .formFill__inputFields-name,
  .formFill__inputFields-dropdown,
  .formFill__inputFields-email,
  .formFill__inputFields-phone,
  .formFill__inputFields-dateFrom,
  .formFill__inputFields-dateTo {
    width: calc(50% - 10px);
  }

  .formFill__inputFields-name-input,
  .formFill__inputFields-dropdown-select-item,
  .formFill__inputFields-email-input,
  .formFill__inputFields-phone-input,
  .formFill__inputFields-dateFrom-input,
  .formFill__inputFields-dateTo-input,
  .formFill__commentField-textarea {
    /* функция, при ширине экрана (1024px равен 20px), (360px равен 10px) */
    padding: calc(10px + (20 - 10) * ((100vw - 360px) / (1024 - 360)));
    /* функция, при ширине экрана (1024px равен 45px), (360px равен 31px) */
    padding-right: calc(31px + (45 - 31) * ((100vw - 360px) / (1024 - 360)));
  }

  .formFill__inputFields-dropdown-select::before {
    /* функция, при ширине экрана (1024px равен 23.59px), (360px равен 13.59px) */
    right: calc(13.59px + (23.59 - 13.59) * ((100vw - 360px) / (1024 - 360)));
  }

  .formFill__inputFields-name-input::placeholder,
  .formFill__inputFields-dropdown-select-item,
  .formFill__inputFields-email-input::placeholder,
  .formFill__inputFields-phone-input::placeholder,
  .formFill__inputFields-dateFrom-input,
  .formFill__inputFields-dateTo-input {
    /* функция, при ширине экрана (1024px равен 20px), (360px равен 16px) */
    font-size: var(--dynamic-font-size_1);
  }

  /* _____formFill__agreement */
  .formFill__agreement-input+.formFill__agreement-customCheckbox::before {
    margin-right: 11px;
  }

  /* _____formFill__buttons */
  .formFill__buttons-find,
  .formFill__buttons-reset {
    /* функция, при ширине экрана (1024px равен 235px), (360px равен 134px) */
    width: calc(134px + (235 - 134) * ((100vw - 360px) / (1024 - 360)));
    /* функция, при ширине экрана (1024px равен 20px), (360px равен 16px) */
    font-size: var(--dynamic-font-size_1);
  }

  .formFill__buttons-find {
    /* функция, при ширине экрана (1024px равен 25px), (360px равен 5px) */
    margin-right: calc(5px + (25 - 5) * ((100vw - 360px) / (1024 - 360)));
  }

  /*  */
  /* __reviews(раздел-отзывы) */
  .reviews .secondaryTitle__title {
    /* функция, при ширине экрана (1024px равен 134px), (360px равен 76px) */
    padding-top: calc(76px + (134 - 76) * ((100vw - 360px) / (1024 - 360)));
  }

  .reviews .secondaryTitle__subtitle {
    /* функция, при ширине экрана (1024px равен 30px), (360px равен 20px) */
    padding-top: var(--dynamic-top-internal-indentation_1);
    /* функция, при ширине экрана (1024px равен 410px), (360px равен 318px) */
    max-width: var(--dynamic-width_1);
  }

  .reviews__cardContainer {
    max-width: 918px;
    /* функция, при ширине экрана (1024px равен 98px), (360px равен 50px) */
    margin-top: calc(50px + (98 - 50) * ((100vw - 360px) / (1024 - 360)));
    /* функция, при ширине экрана (1024px равен 30px), (360px равен 21px) */
    padding-right: var(--dynamic-right-internal-indentation_2);
    padding-left: var(--dynamic-left-internal-indentation_3);
  }

  .reviews__cardContainer-item {
    width: calc(50% - 9px);
    margin-right: 18px;
    margin-bottom: 18px;
  }

  .reviews__cardContainer-item-text-par1 {
    /* функция, при ширине экрана (1024px равен 23px), (360px равен 16px) */
    font-size: var(--dynamic-font-size_2);
  }

  .reviews__cardContainer-item-person-block-name {
    /* функция, при ширине экрана (1024px равен 35px), (360px равен 23px) */
    font-size: var(--dynamic-font-size_3);
  }

  .reviews__cardContainer-item-person-block-tour {
    /* функция, при ширине экрана (1024px равен 17px), (360px равен 16px) */
    font-size: calc(16px + (17 - 16) * ((100vw - 360px) / (1024 - 360)));
  }


  /*  */
  /* __travelPhotos(раздел-фотографии путешествий) */
  .travelPhotos .secondaryTitle__title {
    /* функция, при ширине экрана (1024px равен 134px), (360px равен 76px) */
    padding-top: calc(76px + (134 - 76) * ((100vw - 360px) / (1024 - 360)));
  }

  .travelPhotos .secondaryTitle__subtitle {
    /* функция, при ширине экрана (1024px равен 30px), (360px равен 20px) */
    padding-top: var(--dynamic-top-internal-indentation_1);
    /* функция, при ширине экрана (1024px равен 410px), (360px равен 318px) */
    max-width: var(--dynamic-width_1);
  }

  .travelPhotos .secondaryTitle__title {
    padding-top: 119px;
  }

  .travelPhotos__cardContainer-block1-img,
  .travelPhotos__cardContainer-block2-img,
  .travelPhotos__cardContainer-block3-img {
    margin-right: 20px;
  }

  .travelPhotos__cardContainer-block1-img:first-child,
  .travelPhotos__cardContainer-block2-img:first-child,
  .travelPhotos__cardContainer-block3-img:first-child {
    margin-left: 20px;
  }

  /* применяем стиль к 2, 3, 4 элементу */
  .travelPhotos__cardContainer-block1-img:nth-child(2),
  .travelPhotos__cardContainer-block2-img:nth-child(3),
  .travelPhotos__cardContainer-block3-img:nth-child(4) {
    display: none;
  }

  /*  */
  /* __stories(раздел-истории)__ */
  .stories .secondaryTitle__title {
    /* функция, при ширине экрана (1024px равен 134px), (360px равен 75px) */
    padding-top: calc(75px + (134 - 75) * ((100vw - 360px) / (1024 - 360)));
  }

  .stories .secondaryTitle__subtitle {
    /* функция, при ширине экрана (1024px равен 30px), (360px равен 20px) */
    padding-top: var(--dynamic-top-internal-indentation_1);
    /* функция, при ширине экрана (1024px равен 410px), (360px равен 318px) */
    max-width: var(--dynamic-width_1);
  }

  .stories__cardContainer {
    /* функция, при ширине экрана (1024px равен 100px), (360px равен 51px) */
    margin-top: calc(51px + (100 - 51) * ((100vw - 360px) / (1024 - 360)));
    /* функция, при ширине экрана (1024px равен 918px), (360px равен 318px) */
    max-width: calc(318px + (918 - 318) * ((100vw - 360px) / (1024 - 360)));
    /* функция, при ширине экрана (1024px равен 30px), (360px равен 21px) */
    padding-right: var(--dynamic-right-internal-indentation_2);
    padding-left: var(--dynamic-left-internal-indentation_3);
  }

  .stories__card {
    /* функция, при ширине экрана (1024px равен 50px), (360px равен 20px) */
    border-radius: var(--dynamic-border-sizes_1);
  }

  .stories__card:not(:last-child) {
    /* функция, при ширине экрана (1024px равен 49px), (360px равен 20px) */
    margin-bottom: calc(20px + (49 - 20) * ((100vw - 360px) / (1024 - 360)));
  }

  .stories__card-content {
    /* функция, при ширине экрана (1024px равен 60px), (360px равен 30px) */
    padding-top: calc(30px + (60 - 30) * ((100vw - 360px) / (1024 - 360)));
    padding-right: calc(30px + (60 - 30) * ((100vw - 360px) / (1024 - 360)));
    /* функция, при ширине экрана (1024px равен 60px), (360px равен 32px) */
    padding-bottom: calc(32px + (60 - 32) * ((100vw - 360px) / (1024 - 360)));
    /* функция, при ширине экрана (1024px равен 40px), (360px равен 10px) */
    padding-left: calc(10px + (40 - 10) * ((100vw - 360px) / (1024 - 360)));
  }

  .stories__card-content-title {
    /* функция, при ширине экрана (1024px равен 35px), (360px равен 23px) */
    font-size: var(--dynamic-font-size_3);
  }

  .stories__card-content-text {
    /* функция, при ширине экрана (1024px равен 111px), (360px равен 64px) */
    padding-bottom: calc(64px + (111 - 64) * ((100vw - 360px) / (1024 - 360)));
  }

  .pb-1 {
    /* функция, при ширине экрана (1024px равен 198px), (360px равен 134px) */
    padding-bottom: calc(134px + (198 - 134) * ((100vw - 360px) / (1024 - 360)));
  }

  .stories__card-content-text-main,
  .stories__card-content-text-list {
    /* функция, при ширине экрана (1024px равен 20px), (360px равен 16px) */
    font-size: var(--dynamic-font-size_1); line-height: 144%;
  }

  .stories__card-content-link-btn-item {
    /* функция, при ширине экрана (1024px равен 23px), (360px равен 16px) */
    font-size: var(--dynamic-font-size_2);
  }

  .stories__card-content-link-btn-item::after {
    /* функция, при ширине экрана (1024px равен 0px), (360px равен 2px) */
    top: calc(2px + (0 - 2) * ((100vw - 360px) / (1024 - 360)));
    /* функция, при ширине экрана (1024px равен 15px), (360px равен 17px) */
    left: calc(17px + (15 - 17) * ((100vw - 360px) / (1024 - 360)));
  }

  .stories__card-content-link-socialNetwork-item {
    /* функция, при ширине экрана (1024px равен 20px), (360px равен 16px) */
    font-size: var(--dynamic-font-size_1);
  }

  .stories__card-content-link-socialNetwork-item:not(:last-child) {
    /* функция, при ширине экрана (1024px равен 31x), (550px равен 5px) */
    margin-right: calc(5px + (31 - 5) * ((100vw - 550px) / (1024 - 550)));
  }

  /*  */
  /* __footer(раздел-нижний колонтитул)__ */
  .footers__card-img {
    /* функция, при ширине экрана (1024px равен 370px), (360px равен 130px) */
    width: calc(130px + (370 - 130) * ((100vw - 360px) / (1024 - 360)));
    /* функция, при ширине экрана (1024px равен 370px), (360px равен 133px) */
    height: calc(133px + (370 - 133) * ((100vw - 360px) / (1024 - 360)));
    /* функция, при ширине экрана (1024px равен 50px), (360px равен 20px) */
    border-radius: var(--dynamic-border-sizes_1);
  }

  .footers__card-content-title {
    /* функция, при ширине экрана (1024px равен 35px), (360px равен 23px) */
    font-size: var(--dynamic-font-size_3);
  }

  .footers__card-content-text,
  .footers__link-text,
  .footers__link-socialNetwork-block-item {
    /* функция, при ширине экрана (1024px равен 20px), (360px равен 16px) */
    font-size: var(--dynamic-font-size_1);
  }
}


/*от0px-до549px___________________________________________________*/
@media (max-width: 549px) {

  /*  */
  /* __heading(раздел-заголовок)__ */
  .navbar {
    /* функция, при ширине экрана (549px равен 509px), (360px равен 320px) */
    width: calc(320px + (509 - 320) * ((100vw - 360px) / (549 - 360)));
  }

  .navbar__logo-YourTour {
    width: 133px;
  }

  .navbar__telephoneNumber-item {
    width: 124px;
  }

  .navbar__menu {
    display: none;
  }

  /*от0px-до450px___________________________________________________*/
  @media (max-width: 450px) {

    /* фиксируем заголовок */
    .heading {
      position: absolute;
    }
  }

  /*  */
  /* __greeting(раздел-приветствие)__ */
  .greeting__title {
    line-height: 112%;
  }

  .greeting__buttons-small {
    width: 114px;
    font-size: 16px;
  }

  /*  */
  /* __chooseTour(раздел-выбрать тур)__ */
  .chooseTour .secondaryTitle__title {
    line-height: 112%;
  }

  .chooseTour__cardContainer {
    max-width: 549px;
  }

  .chooseTour__cardTur {
    width: calc(100% - 24px);
    max-height: 318px;
  }

  .chooseTour__cardTur-content {
    min-height: 318px;
    padding: 25px 25px 28px 5px;
  }

  .chooseTour__cardTur-content-title {
    letter-spacing: 0.92px;
  }

  .chooseTour__cardTur-content-title::after {
    font-size: 16px;
    bottom: -4px;
  }

  .chooseTour__cardTur-content-link-item {
    font-size: 16px;
  }

  .chooseTour__cardTur-content-link-item::after {
    position: relative;
    content: url('../../dist/images/VectorRight.svg');
    left: 13px;
    top: 3px;
  }

  /*  */
  /* __collectTour(раздел-собрать тур) */
  .collectTour .secondaryTitle__title {
    line-height: 112%;
  }

  .formFill>* {
    font-size: 16px;
  }

  /* _____formFill__inputFields */
  .formFill__inputFields {
    flex-direction: column;
  }

  .formFill__inputFields-name,
  .formFill__inputFields-dropdown,
  .formFill__inputFields-email,
  .formFill__inputFields-phone,
  .formFill__inputFields-dateFrom,
  .formFill__inputFields-dateTo,
  .formFill__commentField,
  .formFill__age,
  .formFill__agreement {
    margin-bottom: 30px;
    width: 100%;
  }

  .formFill__inputFields-name-input,
  .formFill__inputFields-email-input,
  .formFill__inputFields-phone-input,
  .formFill__inputFields-dateFrom-input,
  .formFill__inputFields-dateTo-input {
    height: 43.5px;
  }

  .formFill__inputFields-dropdown-select-item {
    height: 46px;
  }

  .formFill__inputFields-dropdown-select::before {
    top: 54%;
  }

  /* _____formFill__commentField */
  .formFill__commentField-textarea {
    height: 132px;
  }

  /* _____formFill__age */
  .formFill__age-radioGroup {
    margin-top: 8px;
    height: 23px;
  }

  .formFill__age-radioGroup-block:not(:last-child) {
    margin-right: 30px;
  }

  .formFill__age-radioGroup-block-input+.formFill__age-radioGroup-block-label::before {
    width: 19px;
    height: 19px;
    border-radius: 0.80em;
    margin-right: 9px;
  }

  /* _____formFill__agreement */
  .formFill__agreement {
    height: 100%;
  }

  .formFill__agreement-input+.formFill__agreement-customCheckbox::before {
    width: 19px;
    height: 19px;
  }

  .formFill__agreement-text {
    font-size: 16px;
    letter-spacing: -0.17px;
  }

  .formFill__agreement-input+.formFill__agreement-customCheckbox::before {
    margin-right: 10px;
  }

  /* _____formFill__buttons */
  .formFill__buttons-find,
  .formFill__buttons-reset {
    padding: 14px 29px;
  }

  /*  */
  /* __reviews(раздел-отзывы) */
  .reviews .secondaryTitle__title {
    line-height: 112%;
  }

  /*от0px-до280px___________________________________________________*/
  @media (max-width: 280px) {

    .formFill__buttons-find,
    .formFill__buttons-reset {
      width: 100px;
      padding: 12px 12px;
    }

    .reviews .secondaryTitle__title {
      letter-spacing: -0.9px;
    }
  }

  .reviews__cardContainer {
    flex-direction: column;
  }

  .reviews__cardContainer-item {
    width: 100%;
    border-radius: 20px;
    padding: 20px;
    padding-right: 21px;
  }

  .reviews__cardContainer-item-text-par1 {
    line-height: 143%;
  }

  .reviews__cardContainer-item-text-par1:nth-child(n+2) {
    margin-top: 25px;
  }

  .reviews__cardContainer-item-person {
    margin-top: 37px;
    letter-spacing: 0.92px;
    align-items: end;
  }

  .reviews__cardContainer-item-person-photo img {
    position: relative;
    top: 3px;
  }

  /*  */
  /* __travelPhotos(раздел-фотографии путешествий) */
  .travelPhotos .secondaryTitle__title {
    max-width: 318px;
    padding-top: 57px;
    line-height: 112%;
  }

  .travelPhotos .secondaryTitle__subtitle {
    padding-top: 20px;
    max-width: 318px;
  }

  .travelPhotos__cardContainer {
    margin-top: 50px;
  }

  /* применяем ко всем элементам кроме первого */
  .travelPhotos__cardContainer-block1:not(:first-child),
  .travelPhotos__cardContainer-block2:not(:first-child),
  .travelPhotos__cardContainer-block3:not(:first-child) {
    margin-top: 18px;
  }


  .travelPhotos__cardContainer-block1-img,
  .travelPhotos__cardContainer-block2-img,
  .travelPhotos__cardContainer-block3-img {
    height: 110px;
    border-radius: 20px;
  }

  /* применить ко всем кроме последнего */
  .travelPhotos__cardContainer-block2-img:not(:last-child) {
    /* функция, при ширине экрана (550px равен 20px), (360px равен 10px) */
    margin-right: calc(10px + (20 - 10) * ((100vw - 360px) / (550 - 360)));
  }

  .travelPhotos__cardContainer-block3-img:first-child {
    /* функция, при ширине экрана (550px равен 20px), (360px равен 10px) */
    margin-right: calc(10px + (20 - 10) * ((100vw - 360px) / (550 - 360)));
  }

  /* применяем стиль к 3, 2, 3 элементу */
  .travelPhotos__cardContainer-block1-img:nth-child(3),
  .travelPhotos__cardContainer-block2-img:nth-child(2),
  .travelPhotos__cardContainer-block3-img:nth-child(3) {
    display: none;
  }

  /*  */
  /* __stories(раздел-истории)__ */
  .stories .secondaryTitle__title {
    line-height: 112%;
  }

  .stories__card-content-link-socialNetwork {
    display: none;
  }

  .stories__card-content-title {
    max-width: 162px;
    letter-spacing: 0.92px;
    padding-bottom: 20px;
  }

  .stories__card-content-text-main {
    padding-bottom: 24px;
  }

  .stories__card-content-text-list {
    line-height: 137%;
    padding-left: 9px;
  }

  /*  */
  /* __footer(раздел-нижний колонтитул)__ */
  .footers__card {
    flex-direction: column;
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .footers__card-content {
    margin-left: 0px;
    margin-top: 32px;
    text-align: center;
  }

  .footers__card-content-title {
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.92px;
  }

  .footers__linkContainer {
    padding: 21px;
  }

  .footers__link {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }

  .footers__link-text {
    margin-bottom: 8px;
  }

  .footers__link-socialNetwork-block:not(:last-child) {
    margin-right: 15px;
  }

  .footers__link-socialNetwork {
    padding-left: 0px;
  }

  .footers__link-socialNetwork-block-icon {
    width: 20px;
    height: 20px;
    margin-right: 2px;
  }
}