/*от361px-до1024px___________________________________________________*/
@media (max-width: 1024px) {

  /* __travelPhotos(раздел-фотографии путешествий) */
  .w1-h1 {
    width: 30.694%;
    height: 301px;
    margin-right: 20px;
  }

  .w2-h2 {
    width: 22.58%;
    height: 301px;
    margin-right: 20px;
  }

  .travelPhotos__cardContainer-block1-img:first-child,
  .travelPhotos__cardContainer-block2-img:first-child,
  .travelPhotos__cardContainer-block3-img:first-child {
    margin-left: 20px;
  }

  /* применяем стиль к 2, 3, 4 элементу */
  .travelPhotos__cardContainer-block1-img:nth-child(2),
  .travelPhotos__cardContainer-block2-img:nth-child(3),
  .travelPhotos__cardContainer-block3-img:nth-child(4) {
    display: none;
  }
}

/*от0px-до360px___________________________________________________*/
@media (max-width: 360px) {
  .travelPhotos__cardContainer {
    margin-top: 50px;
  }

  .bgi-1 {
    border-radius: 20px;
  }

  /* применяем ко всем элементам кроме первого */
  .travelPhotos__cardContainer-block1:not(:first-child),
  .travelPhotos__cardContainer-block2:not(:first-child),
  .travelPhotos__cardContainer-block3:not(:first-child) {
    margin-top: 18px;
  }

  .w1-h1 {
    width: 41.66%;
    height: 110px;
    margin-right: 10px;
  }

  .w2-h2 {
    width: 27.5916%;
    height: 110px;
    margin-right: 10px;
  }

  .travelPhotos__cardContainer-block1-img:first-child,
  .travelPhotos__cardContainer-block2-img:first-child,
  .travelPhotos__cardContainer-block3-img:first-child {
    margin-left: 21px;
  }

  .travelPhotos__cardContainer-block1-img:last-child,
  .travelPhotos__cardContainer-block2-img:last-child,
  .travelPhotos__cardContainer-block3-img:last-child {
    margin-right: 21px;
  }

  /* применяем стиль к 1 элементу */
  .travelPhotos__cardContainer-block1-img:nth-child(1) {
    margin-right: 18px;
  }

  /* применяем стиль к 2 элементу */
  .travelPhotos__cardContainer-block3-img:nth-child(2) {
    margin-right: 21px;
  }

  /* применяем стиль к 1 элементу */
  .travelPhotos__cardContainer-block3-img:nth-child(1),
  .travelPhotos__cardContainer-block3-img:nth-child(2) {
    width: 42.777%;
  }

  /* применяем стиль к 3, 2, 3 элементу */
  .travelPhotos__cardContainer-block1-img:nth-child(3),
  .travelPhotos__cardContainer-block2-img:nth-child(2),
  .travelPhotos__cardContainer-block3-img:nth-child(3) {
    display: none;
  }
}