/* ___________@media-директива_____________________________________ */
/*от1024px-до1919px___________________________________________________*/
@media screen and (max-width: 1919px) {

  .navbar {
    padding-left: 57px;
    padding-right: 57px;
  }

  /* Выберем все пункты списка, кроме последнего */
  .navbar__menu-item:not(:last-child) {
    margin-right: 2.9vw;
  }

  .greeting__slogan {
    width: 442px;
  }

  .greeting__btn {
    padding-top: 49px;
  }
}



/*от360px-до1023px___________________________________________________*/
@media screen and (max-width: 1023px) {

  .navbar {
    width: 360px;
    padding: 32.5px 20px 0px 20px;
  }

  .navbar__logo-YourTour {
    width: 134px;
    height: 23px;
  }

  .navbar__menu {
    display: none;
  }

  .navbar__telephoneNumber {
    font-size: 16px;
  }

  .greeting__title {
    max-width: 360px;
    padding-top: 140px;
    font-size: 34px;
    line-height: 112%;
  }

  .greeting__slogan {
    max-width: 310px;
    padding-top: 41px;
    font-size: 16px;
  }

  .greeting__btn {
    padding-top: 40px;
    padding-bottom: 52px;
  }

  .greeting__btn-small {
    width: 114px;
    height: 33px;
    font-size: 16px;
  }

  /*от450px___________________________________________________*/
  @media (max-width: 450px) {
    .heading {
      position: absolute;
    }
  }
}