.reviews .secondaryTitle__subtitle {
  max-width: 418px;
}

.reviews__cardContainer {
  max-width: 1170px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  /* растягиваем карточки по вертикали, в зависимости от контента
  самой большой карточки */
  align-items: stretch;
}

.reviews__cardContainer-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 570px;
  min-height: 673px;
  box-sizing: border-box;

  border-radius: 50px;
  padding: 40px;
  padding-bottom: 36px;
  background: var(--beige200-color);
}

.reviews__cardContainer-item-text {
  margin: 0;
  color: var(--black-color);
  font-size: 23px;
  font-family: 'Roboto';
  font-weight: 700;
  line-height: 28px;
}

.reviews__cardContainer-item-text-par1 {
  margin: 0;
}

/* применяем стили ко всем элементам, начиная с второго */
.reviews__cardContainer-item-text-par1:nth-child(n+2) {
  margin-top: 27px;
}

.reviews__cardContainer-item-person {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.reviews__cardContainer-item-person-block-name {
  display: block;
  font-size: 35px;
  font-family: 'Roboto';
  font-weight: 500;
  line-height: 122%;
}

.reviews__cardContainer-item-person-block-tour {
  display: block;
  margin-top: 8px;
  font-size: 17px;
  font-family: 'Roboto';
  line-height: 142%;
  letter-spacing: -0.17px;
}

.reviews__cardContainer-item-person-photo img {
  width: 75px;
  height: 75px;
  border-radius: 100px;
}