.reviews {
  display: flex;
  flex-direction: column;
}

.reviews .section-title {
  padding-top: 135px;
}

.reviews .section-subtitle {
  max-width: 410px;
}

.reviews__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1170px;
  margin: 100px auto 0;
  padding: 0 30px;
}

.card-reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: calc(50% - 15px);
  margin: 0 30px 30px 0;
  padding: 40px 40px 36px 40px;
  background: var(--beige200-color);
  border-radius: 50px;
}

.card-reviews:nth-child(2n) {
  margin-right: 0px;
}

.card-reviews__wrapper-text {
  margin: 0;
  font-size: 23px;
  font-weight: 700;
  line-height: 28px;
  color: var(--black-color);
}

.card-reviews__text {
  margin: 0;
}

.card-reviews__text:nth-child(n+2) {
  margin-top: 27px;
}

.card-reviews__about-author {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.card-reviews__author-name {
  display: block;
  font-size: 35px;
  font-weight: 500;
  line-height: 122%;
}

.card-reviews__author-tour-name {
  display: block;
  margin-top: 8px;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.17px;
  color: var(--gray300-color);
}

.card-reviews__author-photo img {
  width: 75px;
  height: 75px;
  border-radius: 100px;
}