.reviews {
  display: flex;
  flex-direction: column;
}

.reviews .section-title {
  padding-top: 135px;
}

.reviews .section-subtitle {
  max-width: 410px;
}

.reviews__container {
  max-width: 1170px;
  margin: auto;
  margin-top: 100px;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-reviews {
  box-sizing: border-box;
  width: calc(50% - 15px);
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 40px;
  padding-bottom: 36px;
  border-radius: 50px;
  background: var(--beige200-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* у каждого 2 элемента будет отсутствовать отступ справа */
.card-reviews:nth-child(2n) {
  margin-right: 0px;
}

.review-text {
  margin: 0;
  color: var(--black-color);
  font-size: 23px;
  font-weight: 700;
  line-height: 28px;
}

.review-text-par1 {
  margin: 0;
}

/* применяем стили ко всем элементам, начиная с второго */
.review-text-par1:nth-child(n+2) {
  margin-top: 27px;
}

.review-author {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.review-author__text-name {
  font-size: 35px;
  font-weight: 500;
  line-height: 122%;
  display: block;
}

.review-author__text-description {
  margin-top: 8px;
  color: var(--gray300-color);
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.17px;
  display: block;
}

.review-author__photo img {
  width: 75px;
  height: 75px;
  border-radius: 100px;
}