.stories {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stories .section-title {
  max-width: 615px;
  padding-top: 135px;
}

.stories .section-subtitle {
  max-width: 410px;
}

.stories__cardContainer {
  max-width: 1170px;
  margin: auto;
  margin-top: 100px;
  padding: 0 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.stories__card {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 50px;
  overflow: hidden;
}

.stories__card:not(:last-child) {
  margin-bottom: 49px;
}

.stories__card-img {
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  /* ease определяет функцию плавности и */
  /* обозначает постепенное ускорение и замедление в течение всего перехода */
  transition: transform 0.3s ease;
}

.stories__card-content {
  /* Элемент с position: sticky «прилипает» к экрану при 
  прокрутке, пока не встретится с границей 
  родительского блока */
  position: sticky;
  bottom: 0;
  box-sizing: border-box;
  padding: 60px 60px 60px 40px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.stories__card-content-title {
  position: relative;
  bottom: 0;
  left: 0;
  max-width: 554px;
  margin: 0;
  padding-bottom: 37px;
  padding-left: 20px;
  color: var(--white-color);
  font-size: 35px;
  font-weight: 500;
  line-height: 122%;
}

.stories__card-content-text {
  position: relative;
  bottom: 0;
  left: 0;
  max-width: 554px;
  margin: 0;
  padding-bottom: 115px;
  padding-left: 20px;
  color: var(--white-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 142%;
}

.stories__card-content-text-main,
.stories__card-content-text-list {
  margin: 0;
}

.stories__card-content-text-main {
  padding-bottom: 25px;
}

.stories__card-content-text-list {
  padding-left: 12px;
  list-style: none;
}

/* кастомный размер маркера списка ul*/
.stories__card-content-text-list .stories__card-content-text-list-item::before {
  content: "•";
  margin-right: 10px;
  font-size: 20px;
}

.stories__card-content-link {
  display: flex;
  justify-content: space-between;
  /* Элементы выравниваются по своей базовой линии */
  align-items: baseline;
}

.stories__card-content-link-btn-item {
  padding: 7px 32px 7px 20px;
  border-radius: 50px;
  color: var(--white-color);
  font-size: 23px;
  font-weight: 700;
  line-height: 122%;
  /* ease определяет функцию плавности и */
  /* обозначает постепенное ускорение и замедление в течение всего перехода */
  transition: background-color 0.3s ease;
}

.stories__card-content-link-btn-item::after {
  content: url('../../dist/images/VectorRight.svg');
  position: relative;
  left: 15px;
}

.stories__card-content-link-socialNetwork-item {
  /* начальное значение */
  border-bottom: 1px solid transparent;
  color: var(--white-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 142%;
  transition: border-bottom 0.3s ease, color 0.3s ease;
}

.stories__card-content-link-socialNetwork-item:not(:last-child) {
  margin-right: 31px;
}

.stories__card-content-link-socialNetwork-item:hover {
  /* измененное значение */
  border-bottom: 1px solid var(--white-color);
  color: var(--white-color);
}

.stories__card-content-link-socialNetwork-item:active {
  /* измененное значение */
  border-bottom: 1px solid var(--orange200-color);
  color: var(--orange200-color);
}

/* делаем такую запись чтобы при наведении курсора на один элемент
применялось сразу два стиля: 
1-й_стиль увеличивал фоновое изображение
2-й_стиль создавал форму кнопки на ссылке */
.stories__card:hover .stories__card-img {
  transform: scale(1.2);
  cursor: pointer;
}

.stories__card:hover .stories__card-content-link-btn-item {
  border-radius: 50px;
  background-color: var(--green400-color);
}

/*___Примечание №1 
.class1 .class2 такая запись означает, 
что стили будут применяться к тем элементам HTML, 
которые имеют класс `.class2`, 
но только внутри элементов HTML с классом `.class1` 
___Примечание №2
Если записать без пробела (`.class1.class2`), 
это означает, что стили будут применяться к элементам HTML, 
которые одновременно имеют два класса: `.class1` и `.class2` */

/* установим :hover для выбранного варианта ссылки, чтобы
обычный :hover--->(.stories__card:hover .stories__card-content-link-btn-item:active) 
не перебивал его.
Без такой записи обычный :hover перебивает выбранный варианта ссылки*/
.stories__card:hover .stories__card-content-link-btn-item:active {
  border-radius: 50px;
  background-color: var(--orange200-color);
  color: var(--white-color);
}

/* нижний отступ */
.pb-1 {
  padding-bottom: 200px;
}