.stories {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stories .section-title {
  max-width: 615px;
  padding-top: 135px;
}

.stories .section-subtitle {
  max-width: 410px;
}

.stories__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1170px;
  margin: 100px auto 0;
  padding: 0 30px;
}

.card-stories {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  border-radius: 50px;
}

.card-stories:not(:last-child) {
  margin-bottom: 49px;
}

.card-stories__img {
  height: 100%;
  transition: transform 0.3s ease;
}

.card-stories__bgi-1 {
  background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%),
    url('../../dist/images/storyPhoto1.png');
}

.card-stories__bgi-2 {
  background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%),
    url('../../dist/images/storyPhoto2.png');
}

.card-stories__bgi-3 {
  background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%),
    url('../../dist/images/storyPhoto3.png');
}

.card-stories__content {
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 60px 60px 60px 40px;
  cursor: pointer;
}

.card-stories__title {
  position: relative;
  bottom: 0;
  left: 0;
  max-width: 554px;
  margin: 0;
  padding: 0 0 37px 20px;
  font-size: 35px;
  font-weight: 500;
  line-height: 122%;
  color: var(--white-color);
}

.card-stories__wrapper-text {
  position: relative;
  bottom: 0;
  left: 0;
  max-width: 554px;
  margin: 0;
  padding: 0 0 115px 20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 142%;
  color: var(--white-color);
}

.card-stories__description,
.card-stories__list-advantages {
  margin: 0;
}

.card-stories__description {
  padding-bottom: 25px;
}

.card-stories__list-advantages {
  padding-left: 12px;
  list-style: none;
}

.card-stories__list-advantages .card-stories__list-advantages-item::before {
  margin-right: 10px;
  font-size: 20px;
  content: "•";
}

.card-stories__link-group {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.card-stories__button-link-item {
  padding: 7px 32px 7px 20px;
  font-size: 23px;
  font-weight: 700;
  line-height: 122%;
  color: var(--white-color);
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.card-stories__button-link-item::after {
  position: relative;
  left: 15px;
  content: url('../../dist/images/VectorRight.svg');
}

.card-stories__social-network-link-item {
  font-size: 20px;
  font-weight: 400;
  line-height: 142%;
  color: var(--white-color);
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s ease, color 0.3s ease;
}

.card-stories__social-network-link-item:not(:last-child) {
  margin-right: 31px;
}

.card-stories__social-network-link-item:hover {
  color: var(--white-color);
  border-bottom: 1px solid var(--white-color);
}

.card-stories__social-network-link-item:active {
  color: var(--orange200-color);
  border-bottom: 1px solid var(--orange200-color);
}

.card-stories:hover .card-stories__img {
  transform: scale(1.2);
  cursor: pointer;
}

.card-stories:hover .card-stories__button-link-item {
  background-color: var(--green400-color);
  border-radius: 50px;
}

.card-stories:hover .card-stories__button-link-item:active {
  color: var(--white-color);
  background-color: var(--orange200-color);
  border-radius: 50px;
}

.pb-1 {
  padding-bottom: 200px;
}