.travelPhotos .secondaryTitle__title {
  max-width: 723px;
}

.travelPhotos .secondaryTitle__subtitle {
  padding-top: 29px;
  max-width: 418px;
}

.travelPhotos__cardContainer {
  max-width: 1920px;
  margin: auto;
  margin-top: 100px;
  padding-left: 30px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.travelPhotos__cardContainer-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50px;
}

.travelPhotos__cardContainer-img_w1 {
  width: 442px;
  height: 301px;
  margin-right: 30px;
}

.travelPhotos__cardContainer-img_w2 {
  width: 347px;
  height: 301px;
  margin: 30px 30px 30px 0;
  margin-right: 30px;
}