.travelPhotos .secondaryTitle__title {
  max-width: 723px;
}

.travelPhotos .secondaryTitle__subtitle {
  padding-top: 29px;
  max-width: 418px;
}

.travelPhotos__cardContainer {
  max-width: 1920px;
  margin: auto;
  margin-top: 99px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.travelPhotos__cardContainer-block1,
.travelPhotos__cardContainer-block2 {
  display: flex;
  justify-content: space-evenly;
}

.travelPhotos__cardContainer-block1-img,
.travelPhotos__cardContainer-block2-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50px;
}

.travelPhotos__cardContainer-block1-img {
  width: 441px;
  height: 301px;
}

.travelPhotos__cardContainer-block2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.travelPhotos__cardContainer-block2-img {
  width: 348.16px;
  height: 301px;
}